{{>layouts/header}}
<div class="container mt-5">
    <div class="col-lg-8">
        <figure class="mb-4"><image class="img-fluid rounded" src="https://user-images.githubusercontent.com/89567475/201491392-1c6faad2-bf42-48dc-b84d-cec9cb422c59.png" alt="..."></image></figure>
    </div>
</div>
{{>layouts/footer}}