<!-- Comment form-->
<section class="container mb-5">
    <div class="card bg-light">
        <div class="card-header">
            <h4>Comment</h4>
        </div>
        <div class="card-body">
            <!-- ShowComment -->
            <div class="mt-2">
                <div class="fw-bold">Commenter Name</div>
                <div>comment text</div>
            </div>
        </div>
    </div>
</section>